* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    transition: 0.1s ease-in-out;
    /* overflow: hidden; */
    /* border: 2px solid blue; */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
}
#quiz-container {
    width: 500px;
}
.dialogs-success-failure {
    position: fixed;
    /* margin: 448px auto; */
    width: 304px;
    height: 150px;
}
.slide-from-top-transition {
    transition: margin 0.5s ease-in-out;
    margin: 448px auto;
}
.slide-to-top-transition {
    transition: margin 0.5s ease-in-out;
    margin: -250px auto;
}
#container-for-dialog-for-sucess, #container-for-dialog-for-failure{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 23px;
    background-color: transparent;
}
.success-items, .failure-items {
    margin: auto;
}
#play-again-div {
    height: 30px;
    width: 100%;
    text-align: center;
}
.play-again-buttons {
    width: 40%;
    height: 100%;
    border: 0;
    background-color: rgb(110, 175, 154);
    color: wheat;
    font-size: 15px;
}
.play-again-buttons:active {
    width: 39%;
    height: 95%;
}
.play-again-buttons:hover {
    transition: scale 0.1s ease-in;
    scale: 1.1;
}
#congratulations-div, #keep-trying-div {
    margin-top: 20px;
}

h1 {
    margin: 10px 0 10px 0;
    text-align: center;
}
#letter-blocks-container {
    width: 350px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 auto;
}
.letter-rows {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.letter-blocks {
    transition: 0.1s ease-in-out;
    width: 50px;
    height: 50px;
    border: 2px solid gray;
    font-size: 45px;
    text-align: center;
    background-color: transparent;
}
@keyframes letterBlock {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}
@keyframes shakeRow {
    0% {
       transform: translate(10px);
    }
    20% {
        transform: translate(-10px);
    }
    40% {
        transform: translate(10px);
    }
    60% {
        transform: translate(-10px);
    }
    80% {
        transform: translate(10px);
    }
    100% {
        transform: translate(-10px);
    }
}

#typing-blocks-container {
    width: 85%;
    min-width: 400px;
    /* border: 2px solid green; */
    margin: 20px auto;
    position: relative;
}

.typing-letters {
    width: 30px;
    height: 40px;
    border: 2px solid purple;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 20%;
    box-shadow: 10px 10px 10px rgba(117, 87, 87, 0.1);
    /* box-shadow: 1px 1px 4px 4px rgb(194, 209, 58); */
}
.typing-blocks {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}
.typing-letters:hover {
    transition: scale 0.1s ease-in-out;
    scale: 1.1;
}
.typing-letters:active {
    transition: scale 0.1s ease-in-out;
    scale: 1;
}

#delete-letter-div {
    padding-left: 20px;
    font-size: 15px;
}
.enter-container, .delete-container{
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(199, 115, 199);
    border-radius: 20%;
    overflow: hidden;
}
.enter-container:active, .delete-container:active{
    scale: 1;
    transition: scale 0.1s ease-in-out;
}
.enter-container:hover, .delete-container:hover{
    scale: 1.1;
    transition: scale 0.1s ease-in-out;
}

#delete-letter-div {
    width: 10px;
    height: 10px;
    text-align: center;
    border: 0;
}
#enter-key-div:hover, #delete-letter-div:hover {
    transition: 0;
    scale: 1;
}
.fa-solid {
    transform: translate(-19px, -8px);
    font-size: 25px;
}
#enter-key-div {
    width: 50px;
    height: 20px;
    font-weight: bold;
    font-size: 12px;
    transform: scaleY(1.2);
    color: rgb(73, 112, 230);
    text-align: center;
    translate: 0 2.5px;
}
.fa-staylinked {
    transform: translate(-11px, -12px);
    color: rgb(199, 9, 9);
}
.fa-delete-left {
    color: rgb(64, 106, 233);
}
.error-message-container {
    width: 100%;
    position: absolute;
    top: -16px;
}

.night-mode-div {
    position: absolute;
    top: 20%;
    left: -50px;
    border: 2px solid rgb(22, 22, 22);
    border-radius: 0 10% 10% 0;
    box-shadow: 3px 3px 3px rgba(66, 54, 231, 0.3);
    height: 90px;
    padding: 10px;
    border-left: 0px !important;
    z-index: 100;
}

.error-message-div {
    text-align: center;
    background-color: transparent;
    transition: 0.5s ease-in-out;
    color: rgb(255, 2, 2);
    font-size: 15px;
    font-style: italic;
    opacity: 0;
}


.night-mode-div:hover {
    left: 0px;
}
#the-correct-word-was-span {
    display: inline-block;
    width: 60px;
    font-weight: bold;
}

.night-mode-switch {
    width: 50px;
    height: 40px;
    border-radius: 100%;
    transition: margin-top 0.1s ease-in;
    /* margin-top: 0%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.on {
    margin-top: 30px;
}

.sun-container {
    width: 500px;
    height: 230px;
    translate: 0 25px;
    scale: 0.2;
    display: none;
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: rgb(238, 235, 89);
    position: relative;
}

.sparks {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgb(201, 216, 68);
    border-radius: 0 100% 0 100%;
}
.sparks:nth-child(1) {
    left: -20px;
    top: -10px;
}
.sparks:nth-child(2) {
    left: 65px;
    top: -45px;
    rotate: 45deg;
}
.sparks:nth-child(3) {
    left: 145px;
    top: -10px;
    rotate: 90deg;
}
.sparks:nth-child(4) {
    left: 175px;
    top: 60px;
    rotate: 135deg;
}
.sparks:nth-child(5) {
    left: 145px;
    top: 135px;
    rotate: 180deg;
}
.sparks:nth-child(6) {
    left: 65px;
    top: 170px;
    rotate: 45deg;
}
.sparks:nth-child(7) {
    left: -20px;
    top: 135px;
    rotate: 90deg;
}
.sparks:nth-child(8) {
    left: -45px;
    top: 60px;
    rotate: 135deg;
}

.moon-container {
    width: 500px;
    height: 230px;
    translate: 0 25px;
    scale: 0.4;
    transform: scaleX(-1);
}

.full-circle {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: rgb(58, 55, 55);
}
.inner-circle {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: white;
}